@use '../../variables/colors';

.accentButton {
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid colors.$accent-color;
  background-color: colors.$accent-color;
  &:hover {
    border: 1px solid colors.$white-color;
  }
}

.button {
  padding: 10px 10px;
  border: 1px solid colors.$primary-color;
  background-color: colors.$primary-color;
  &:hover {
    border: 1px solid colors.$white-color;
  }
}