$accent-color: rgba(49, 46, 181, 1);
$white-color: #fff;
$primary-color: rgba(255, 255, 255, 0.03);
$not-accent-color: rgba(255, 255, 255, 0.4);
$text-color: rgba(255, 255, 255, 0.6);
$card-color: rgba(255, 255, 255, 0.1);
