@use '../../variables/colors';

.card {
  width: 362px;
  padding: 20px;
  background: colors.$primary-color;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &:hover {
    cursor: pointer;
    background: colors.$card-color;
  }
}

.card__title {
  font-family: Source Sans Pro, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

.card__body {
  display: flex;
  gap: 10px
}

.card__date {
  color: colors.$not-accent-color
}

.card__text {
  color: colors.$text-color
}
